@model string
<div class="forget-pass-cont" style="width:40rem; height:20rem; background-color:aliceblue; border-radius:5px;position:relative">
    <span class="material-symbols-outlined cross" style="position:absolute;top:5%;right:5%;font-weight:900; color:red;" onclick="Close()">
        close
    </span>
    <div style="padding:2rem">
        <div>
            <h3>Verify Email</h3>

        </div>
        <div>


            <div style="display:flex;">
                <div>
                    <Label>An OTP has been sent to your Email</Label>
                    <input id="EnteredOTP" type="text" placeholder="Enter OTP" />
                    @* <input asp-for="Name" value="@Model.Name" hidden/>
                    <input asp-for="Email" value="@Model.Email" hidden/>
                    <input asp-for="Password" value="@Model.Password" hidden/>
                    <input asp-for="Address" value="@Model.Address" hidden/>
                    <input asp-for="Mobile" value="@Model.Mobile" hidden/>
                    <input asp-for="Gender" value="@Model.Gender" hidden/>
                    <input asp-for="StateId" value="@Model.StateId" hidden/>
                    <input asp-for="CityId" value="@Model.CityId" hidden/>
                    <input asp-for="OTP" value="@Model.OTP" hidden/>*@
                </div>
                @if (ViewBag.Message != null)
                {
                    <div>@ViewBag.Message</div>
                }
                <div>
                    <button id="otp-submit">Verify</button>


                </div>
            </div>

        </div>


    </div>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script>

    $('#otp-submit').click(function () {
        var otp = document.getElementById("EnteredOTP").value;
        $.ajax({
            url: '@Url.Action("Validate", "Account")',
            type: 'GET',
            data: {
                Email: "@Model",
                OTP: otp,
            },
            success: function (result) {
                if(result == true){
                    var element = document.getElementById("popup-form");
                    element.classList.add("hidden");
                }else{
                    $.ajax({
                        url: '@Url.Action("ShowError", "Account")',
                        type: 'GET',
                        data: {
                            Email: "@Model",
                           
                        },
                        success: function (result) {
                           
                            $('#popup-form').html(result);
                        }
                    })
                }
                
            }
        })



    })

    function Close() {
        var element = document.getElementById("popup-form");
        element.classList.add("hidden");
    }

</script>
